
<%- include('partials/header') %>

    <div class="setup">
        <a id="login" href="/login" role="button">Login</a>
        <a  id=" register"href="/Register" role="button">Register</a>

    </div>
    

<%- include('partials/footer') %>